<%- include('./layout/header.ejs')%>
<!-- 标题 -->
<h1 class="text-center">文章列表</h1>
<div class="container">
    <!-- 列表 -->
    <ul class="list-group">
        <%for(var i = 0; i < data.length; i++){%>
        <li class="list-group-item">
            <span style="background:#f0ad4e" class="badge">
                <%=data[i].nickname%>
            </span>
            <span style="background:#337ab7" class="badge">
                <%=data[i].ctime%>
            </span>
            <a href="/articleInfo/<%=data[i].id%>">
                <%=data[i].title%>
            </a>
        </li>
        <%}%>
    </ul>
    <!-- 分页 -->
    <nav aria-label="...">
        <ul class="pagination">
            <li class="<%=pageNow-1<1?'disabled':''%>">
                <<%=pageNow-1<1?'span':'a'%> href="/?page=<%=pageNow-1<1?1:pageNow-1%>" aria-label="Previous">
                    <span>&laquo;</span>
                </<%=pageNow-1<1?'span':'a'%> >
            </li>
            <%for(var i = 1; i <= totalPage;i++){%>
        <li class="<%=i==pageNow?'active':''%>"><a href="/?page=<%=i%>"><%=i%></a></li>
        <%}%>
        <li class="<%=pageNow+1>totalPage?'disabled':''%>">
                    <<%=pageNow+1>totalPage?'span':'a'%> href="/?page=<%=pageNow+1>totalPage?totalPage:pageNow+1%>" aria-label="Previous">
                        <span>»</span>
                    </<%=pageNow+1>totalPage?'span':'a'%>>
                </li>
        </ul>
    </nav>
</div>

<%- include('./layout/footer.ejs')%>